@import url(http://fonts.googleapis.com/css?family=Oswald);
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Style
   ========================================================================== */
.corner {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  display: block;
}
.corner-left {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  display: block;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #414141;
}
.corner-right {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  display: block;
  border-width: 0 10px 10px 0;
  border-color: transparent #414141 transparent transparent;
}
body {
  background: #F5F5F5;
}
.container {
  margin: 50px auto;
  width: 1000px;
}
.menu {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 1px;
  background: #0b0b0b;
  margin: 20px;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu > ul {
  position: relative;
  display: block;
  text-transform: uppercase;
  height: 52px;
  width: 100%;
  background: #383b37;
}
.menu > ul > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #0b0b0b;
}
.menu > ul > li > a {
  border-top: 1px solid #555455;
  border-bottom: 1px solid #555455;
  border-right: 1px solid #555455;
  font-family: 'Oswald', sans-serif;
  -webkit-transition: background 0.25s ease-out;
  -moz-transition: background 0.25s ease-out;
  -o-transition: background 0.25s ease-out;
  transition: background 0.25s ease-out;
  text-shadow: 0 1px 1px #000000;
  padding: 14px 20px;
}
.menu > ul > li > a:hover {
  background: #292d29;
}
.menu > ul > li:hover > a {
  background: #292d29;
}
.menu > ul > li:first-child {
  border-left: 1px solid #555455;
}
.menu a {
  display: block;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
.menu a:hover {
  color: #ffffff;
}
.menu ul ul {
  position: absolute;
  top: 52px;
  left: 9999px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease , top 0.25s ease;
  -moz-transition: opacity 0.25s ease , top 0.25s ease;
  -o-transition: opacity 0.25s ease , top 0.25s ease;
  transition: opacity 0.25s ease , top 0.25s ease;
  text-transform: none;
  z-index: 1000;
}
.menu ul li.has-sub:hover > ul {
  left: auto;
  top: 52px;
  opacity: 1;
}
.menu ul li.has-sub:hover > ul:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  display: block;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #414141;
  margin-top: 4px;
}
.menu ul ul li {
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}
.menu ul ul li a {
  width: 140px;
  padding: 10px 20px;
  background: #414141;
  font-size: 12px;
  padding-bottom: 0;
  color: #b2bebf;
}
.menu ul ul li a:after {
  content: '';
  display: block;
  margin-top: 10px;
  border-bottom: 1px dotted #555455;
}
.menu ul ul ul {
  padding-left: 15px;
}
.menu ul ul ul li {
  position: relative;
}
.menu ul ul li.has-sub:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
.menu ul ul li.has-sub:hover > ul:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  position: relative;
  display: block;
  border-width: 0 10px 10px 0;
  border-color: transparent #414141 transparent transparent;
  margin: 0;
  position: absolute;
  left: 5px;
  top: 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
