/* ==========================================================================
   Style
   ========================================================================== */

@border-outer-color: #0B0B0B;
@border-inner-color: #555455;
@bg-color: #383B37;
@bg-active-color: #292D29;
@bg-submenu-color: #414141;
@link-color: #fff;
@sub-link-color: #B2BEBF;
@shadow-color: #AFAFAF;
@offset: 52px;
@width: 140px;

.corner{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform:rotate(360deg);
  position: relative;
  display: block;
}
.corner-left{
  .corner;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent @bg-submenu-color;
}
.corner-right{
  .corner;
  border-width: 0 10px 10px 0;
  border-color: transparent @bg-submenu-color transparent transparent;
}

body{
  background: #F5F5F5;
}

.container{
  margin: 50px auto;
  width: 1000px;
}

.menu{

  margin: 20px;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;

  }
  // main level
  &>ul{
    position: relative;
    display:block;
    text-transform: uppercase;
    height: 52px;
    width: 100%;

    -webkit-box-shadow: 0 0 0 1px @border-outer-color;
    box-shadow: 0 0 0 1px @border-outer-color;
    .rounded(2px);
    background: @bg-color;

    &>li{
      display: block;
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      border-right: 1px solid @border-outer-color;

      &>a{
        border-top: 1px solid @border-inner-color;
        border-bottom:1px solid @border-inner-color;
        border-right: 1px solid @border-inner-color;
        font-family: 'Oswald', sans-serif;
        .transition(background 0.25s ease-out);
        text-shadow: 0 1px 1px #000000;
        padding:14px 20px;
        &:hover{
          background: @bg-active-color;
        }
      }
      &:hover > a{
        background: @bg-active-color;
      }
    }
    &>li:first-child{
      border-left:1px solid @border-inner-color;
    }
  }

  a{
    display:block;
    color:@link-color;
    font-size:16px;
    text-decoration:none;
    &:hover{
      color: @link-color;
    }
  }

  // submenu
  ul ul {
    position: absolute;
    top: @offset;
    left: 9999px;
    opacity: 0;
    .transition(opacity 0.25s ease~"," top 0.25s ease);

    text-transform: none;
    z-index: 1000;
  }
  ul li.has-sub:hover > ul {
    left: auto;
    top: @offset;
    opacity: 1;
    &:before{
      .corner-left;
      margin-top: 4px;
    }
  }

//  sub-submenu
  ul ul li {
    .drop-shadow(3px,3px,0, 0.5);
    position: relative;
    a{
      width: @width;
      padding: 10px 20px;
      background: @bg-submenu-color;
      font-size: 12px;
      padding-bottom: 0;
      color: @sub-link-color;
      &:after{
        content: '';
        display: block;
        margin-top: 10px;
        border-bottom: 1px dotted @border-inner-color;
      }
    }
    &:last-child a:after{
      border-bottom: none;
      height: 1px;
    }
  }

  ul ul ul{
    padding-left: 15px;
    li{
      position: relative;
    }
  }

  ul ul li.has-sub:hover > ul {
    left: 180px;
    top: 0;
    opacity: 1;
    &:before{
      .corner-right;
      margin: 0;
      position: absolute;
      left: 5px;
      top: 0;
    }
  }
}